<table class="table">
  <tbody>
    <tr>
      <td>Диагональ</td>
      <td>{{ product.diagonal }}</td>
    </tr>
  <tr>
      <td>Тип дисплея</td>
      <td>{{ product.display_type }}</td>
    </tr>
    <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
  <tr>
      <td>Частота обновления экрана</td>
      <td>{{ product.screen_refresh_rate }}</td>
    </tr>
  <tr>
      <td>Операционная система</td>
      <td>{{ product.operating_system }}</td>
    </tr>
   <tr>
      <td>Мощность звука</td>
      <td>{{ product.sound_power }}</td>
    </tr>
    <tr>
      <td>Наличие слота для SD карты</td>
      <td>{{ product.sd }}</td>
    </tr>
  <tr>
      <td>Дополнительно</td>
      <td>{{ product.extra }}</td>
    </tr>
  </tbody>
</table>
